html, body {
    /* The universe takes up all available space */
    width: 100%;
    height: 100%;
    
    /* The universe is black */
    background-color: #383838;
}

#sun {
    position: absolute;
    /* Positions the top-left corner of the image to be *
    /* in the middle of the box */
    top: 50%;
    left: 50%;
    
    /* Play with these numbers to see what it does */
    height: 200px;
    width: 200px;
    width: 5vw;
    height: 5vw;
    margin-top: -100px; 
    margin-left: -100px;

    margin-top: -2.5vw; 
    margin-left: -2.5vw;
    
    /* Step 3 */
      border-color: orange;
      border-width: 1px;
      border-style: solid;
      border-radius: 50%;
      
      box-shadow: 0 0 128px orange;

}

#mercury {
    /* Style your earth */
    position: absolute;
    top: 0;
    left: 50%;
    
    height:50px;
    width:50px;
    height: 1vw;
    width: 1vw;

    margin-left: -25px;
    margin-top:-25px;
    margin-left: -0.5vw;
    margin-top: -0.5vw;
}

#mercury-orbit {
    position: absolute;
    top:50%;
    left:50%;
    
    width:500px;
    height: 500px;
    width: 7.5vw;
    height: 7.5vw;
    margin-top:-3.75vw;
    margin-left:-3.75vw;
    
    border-width: 0.075vw;
    border-style: solid;
    border-color: white;
    border-radius: 50%;
    
    -webkit-animation: spin-right 15s linear infinite;
     -moz-animation: spin-right 15s linear infinite;
      -ms-animation: spin-right 15s linear infinite;
       -o-animation: spin-right 15s linear infinite;
          animation: spin-right 15s linear infinite;
    
}

#venus {
    /* Style your earth */
    position: absolute;
    top: 0;
    left: 50%;
    
    height:50px;
    width:50px;
    height: 2vw;
    width: 2vw;

    margin-left: -25px;
    margin-top:-25px;
    margin-left: -1vw;
    margin-top: -1vw;
}

#venus-orbit {
    position: absolute;
    top:50%;
    left:50%;
    
    width:500px;
    height: 500px;
    width: 11.5vw;
    height: 11.5vw;
    margin-top:-5.75vw;
    margin-left:-5.75vw;
    
    border-width: 0.1vw;
    border-style: solid;
    border-color: white;
    border-radius: 50%;
    
    -webkit-animation: spin-right 25s linear infinite;
     -moz-animation: spin-right 25s linear infinite;
      -ms-animation: spin-right 25s linear infinite;
       -o-animation: spin-right 25s linear infinite;
          animation: spin-right 25s linear infinite;
    
}

#earth {
    /* Style your earth */
    position: absolute;
    top: 0;
    left: 50%;
    
    height:50px;
    width:50px;
    height: 2vw;
    width: 2vw;

    margin-left: -25px;
    margin-top:-25px;
    margin-left: -1vw;
    margin-top: -1vw;
}

#earth-orbit {
    position: absolute;
    top:50%;
    left:50%;
    
    width:500px;
    height: 500px;
    width: 16vw;
    height: 16vw;
    margin-top:-8vw;
    margin-left:-8vw;
    
    border-width: 0.1vw;
    border-style: solid;
    border-color: white;
    border-radius: 50%;
    
    -webkit-animation: spin-right 35s linear infinite;
     -moz-animation: spin-right 35s linear infinite;
      -ms-animation: spin-right 35s linear infinite;
       -o-animation: spin-right 35s linear infinite;
          animation: spin-right 35s linear infinite;
    
}

#mars {
    position: absolute;
    top: 0;
    left: 50%;
    
    height:40px;
    width:40px;
    height: 2vw;
    width: 2vw;
    /* Do not know why but this margin is acting strange, is not -1/2 of height/width like others*/
    margin-left: -1vw;
    margin-top: -1vw;
}

#mars-orbit {
    position: absolute;
    top:50%;
    left:50%;
    
    width: 350px;
    height: 350px;
    /*Made mars percentage based*/
    width: 20.5vw;
    height: 20.5vw;
    /* Remove half of height, width, to position planet in center*/
    margin-top:-175px;
    margin-left:-175px;
    /*Made mars percentage based*/
    margin-top:-10.25vw;
    margin-left:-10.25vw;
    
    border-width: 0.1vw;
    border-style: solid;
    border-color: white;
    border-radius: 50%;
    
    -webkit-animation: spin-right 45s linear infinite;
     -moz-animation: spin-right 45s linear infinite;
      -ms-animation: spin-right 45s linear infinite;
       -o-animation: spin-right 45s linear infinite;
          animation: spin-right 45s linear infinite;
    
}

#jupiter {
    /* Style your earth */
    position: absolute;
    top: 0;
    left: 50%;
    
    height:50px;
    width:50px;
    height: 3.5vw;
    width: 3.5vw;

    margin-left: -25px;
    margin-top:-25px;
    margin-left: -1.75vw;
    margin-top: -1.75vw;
}

#jupiter-orbit {
    position: absolute;
    top:50%;
    left:50%;
    
    width:500px;
    height: 500px;
    width: 27vw;
    height: 27vw;
    margin-top:-13.5vw;
    margin-left:-13.5vw;
    
    border-width: 0.1vw;
    border-style: solid;
    border-color: white;
    border-radius: 50%;
    
    -webkit-animation: spin-right 55s linear infinite;
     -moz-animation: spin-right 55s linear infinite;
      -ms-animation: spin-right 55s linear infinite;
       -o-animation: spin-right 55s linear infinite;
          animation: spin-right 55s linear infinite;
    
}

#saturn {
    /* Style your earth */
    position: absolute;
    top: 0;
    left: 50%;
    
    height:50px;
    width:50px;
    height: 4vw;
    width: 4vw;

    margin-left: -25px;
    margin-top:-25px;
    margin-left: -2vw;
    margin-top: -2vw;
}

#saturn-orbit {
    position: absolute;
    top:50%;
    left:50%;
    
    width:500px;
    height: 500px;
    width: 35.5vw;
    height: 35.5vw;
    margin-top:-17.75vw;
    margin-left:-17.75vw;
    
    border-width: 0.1vw;
    border-style: solid;
    border-color: white;
    border-radius: 50%;
    
    -webkit-animation: spin-right 65s linear infinite;
     -moz-animation: spin-right 65s linear infinite;
      -ms-animation: spin-right 65s linear infinite;
       -o-animation: spin-right 65s linear infinite;
          animation: spin-right 65s linear infinite;
    
}

#uranus {
    /* Style your earth */
    position: absolute;
    top: 0;
    left: 50%;
    
    height:50px;
    width:50px;
    height: 2vw;
    width: 2vw;

    margin-left: -25px;
    margin-top:-25px;
    margin-left: -1vw;
    margin-top: -1vw;
}

#uranus-orbit {
    position: absolute;
    top:50%;
    left:50%;
    
    width:500px;
    height: 500px;
    width: 42vw;
    height: 42vw;
    margin-top:-21vw;
    margin-left:-21vw;
    
    border-width: 0.1vw;
    border-style: solid;
    border-color: white;
    border-radius: 50%;
    
    -webkit-animation: spin-right 75s linear infinite;
     -moz-animation: spin-right 75s linear infinite;
      -ms-animation: spin-right 75s linear infinite;
       -o-animation: spin-right 75s linear infinite;
          animation: spin-right 75s linear infinite;
    
}

#neptune {
    /* Style your earth */
    position: absolute;
    top: 0;
    left: 50%;
    
    height:50px;
    width:50px;
    height: 2.75vw;
    width: 2.75vw;

    margin-left: -25px;
    margin-top:-25px;
    margin-left: -1.375vw;
    margin-top: -1.375vw;
}

#neptune-orbit {
    position: absolute;
    top:50%;
    left:50%;
    
    width:500px;
    height: 500px;
    width: 48.5vw;
    height: 48.5vw;
    margin-top:-24.25vw;
    margin-left:-24.25vw;
    
    border-width: 0.1vw;
    border-style: solid;
    border-color: white;
    border-radius: 50%;
    
    -webkit-animation: spin-right 85s linear infinite;
     -moz-animation: spin-right 85s linear infinite;
      -ms-animation: spin-right 85s linear infinite;
       -o-animation: spin-right 85s linear infinite;
          animation: spin-right 85s linear infinite;
    
}



@-webkit-keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

